:root {
    --primary: #d1cfe2;
  }
.above{
    background-color: var(--primary);
    text-align: center;
    padding: 80px 20px;
    font-size: 80px;
    font-weight: bold;
    display: block;
}
body{
    font-family: 'Rajdhani', sans-serif;
}
nav{
    padding: 10px 0;
}
nav ul {
    padding: 0;
}
nav li{
    display: inline;
    list-style: none;
    margin-left: 15px;
    font-size: 22px;
}
nav a{
    text-decoration: none;
    color: rgb(112, 112, 112);
}
nav a:hover{
    color: var(--primary);
}
nav li.active a{
    color: var(--primary);
}
.logo{
    max-width: 60px;
}
.imgbtm{
    background-color: var(--primary);
    font-size: 30px;
    border-radius: 25px;
    padding: 10px;
    
}
.above1{
    background-color: var(--primary);
    text-align: center;
    padding: 80px 20px;
    font-weight: bold;
    display: block;
}

.contact-me{
   
    max-width: 300px;
    border-radius: 200px;
     margin-left: 60px;
}
.work{
    font-size: 25px;
    font-weight: 100;
}
.pt{
    text-align: center;
    font-size: 40px;
    font-weight: 100;
}
.links{
    color: black;
    text-decoration: none;
}
.links:hover{
    color: blueviolet;
}
.weather-pic{
    max-width: 350px;
    border: 1px solid white;
    border-radius: 20px;
}
.other-pic{
    max-width: 200px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
}
.above2{
    background-color: var(--primary);
    text-align: center;
    padding: 80px 20px;
    display: block;
}
h2{
    line-height: 70px;
    font-weight: bold;
}
.bt-projects{
    font-size: 15px;
    padding: 5px;
}
.built-with{
    font-size: 20px;
    color: rgb(93, 93, 93);
}
.gmail{
    margin-left:100px ;
}
.f{
    text-align: center;
    color: grey;
}
.open{
    color: white;
    text-decoration: none;
}
.open:hover{
    color: blueviolet;
}
h4{
    line-height: 2;
}
