:root {
    --primary: #d1cfe2;
  }
.above{
    background-color: var(--primary);
    text-align: center;
    padding: 80px 20px;
    font-size: 80px;
    font-weight: bold;
    display: block;
}
body{
    font-family: 'Rajdhani', sans-serif;
}
nav{
    padding: 10px 0;
}
nav ul {
    padding: 0;
}
nav li{
    display: inline;
    list-style: none;
    margin-left: 15px;
    font-size: 22px;
}
nav a{
    text-decoration: none;
    color: rgb(112, 112, 112);
}
nav a:hover{
    color: var(--primary);
}
nav li.active a{
    color: var(--primary);
}
.logo{
    max-width: 60px;
}
.imgbtm{
    background-color: var(--primary);
    font-size: 30px;
    border-radius: 25px;
    padding: 10px;
    
}